# 48MHz Clock input = A9
LOCATE COMP "CLK" SITE "A9";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

# RX/IO_0 = N17, TX/IO_1 = M18 
LOCATE COMP "RX" SITE "N17";
LOCATE COMP "TX" SITE "M18";
IOBUF PORT "RX" IO_TYPE=LVCMOS33;
IOBUF PORT "TX" IO_TYPE=LVCMOS33;

# USB_D+ = N1, USB_D- = M2, USB_PULLUP = N2
LOCATE COMP "USB_DP" SITE "N1";
LOCATE COMP "USB_DM" SITE "M2";
LOCATE COMP "USB_PULLUP" SITE "N2";
IOBUF PORT "USB_DP" IO_TYPE=LVCMOS33;
IOBUF PORT "USB_DM" IO_TYPE=LVCMOS33;
IOBUF PORT "USB_PULLUP" IO_TYPE=LVCMOS33;

# LED R = K4, LED_G = M3, LED_B = J3
LOCATE COMP "LED1" SITE "K4";
LOCATE COMP "LED2" SITE "M3";
LOCATE COMP "LED3" SITE "J3";
IOBUF PORT "LED1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;